.container {
    display: flex;
    flex-direction: row; /* Por defecto los elementos estarán en fila */
    gap: 10px;
}

.box {
    background-color: lightblue;
    padding: 20px;
    border: 1px solid blue;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
    }
}
